JAXBPractice/src/MyXSD/EmployeeDataXMLformat.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Employee" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="EmployeeID"/>
              <xs:element type="xs:string" name="EmployeeName"/>
              <xs:element type="xs:string" name="AddressLine1"/>
              <xs:element type="xs:string" name="AddressLine2"/>
              <xs:element type="xs:string" name="City"/>
              <xs:element type="xs:int" name="ZipCode"/>
              <xs:element type="xs:string" name="Email"/>
              <xs:element type="xs:long" name="Phone"/>
              <xs:element type="xs:byte" name="DepartmentID"/>
              <xs:element type="xs:byte" name="ProductID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>